// FONTS //

@font-face {
    font-family: "SpaceMonoRegular";
    src: url("../assets/fonts/Space_Mono/SpaceMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SpaceMonoBold";
    src: url("../assets/fonts/SpaceMono/SpaceMono-Bold.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SpaceMonoBoldItalic";
    src: url("../assets/fonts/SpaceMono/SpaceMono-BoldItalic.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SpaceMonoItalic";
    src: url("../assets/fonts/SpaceMono/SpaceMono-Italic.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "PoppinsBold";
    src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "PoppinsItalic";
    src: url("../assets/fonts/Poppins/Poppins-Italic.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "PoppinsMedium";
    src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "PoppinsRegular";
    src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
