// Variables, Fonts... //
@import "variables";
@import "fonts";

// FOOTER //
body {
    margin: 0;
    padding-top: 0;
}
footer {
    max-width: 100%;
    padding: 15px 30px;
    border-top: 1px solid black;
    box-shadow: 0 -2px rgba(0, 0, 0, 0.3);
}
    .menuFooter {
        display: flex;
        justify-content: center;
        height: 24px;
        gap: 7.5vw;
        
        a, p {
            text-transform: uppercase;
            font-family: "SpaceMonoRegular";
            font-size: 1.1vw;
            font-weight: 400;        
        }
    }
@media (max-width: $VSD) {
    .menuFooter {
        display: flex;
        flex-direction: column;
        height: 16vw;
    }
}