@import "variables.scss";
@import "fonts.scss";

// FOOTER //
body {
    margin: 0;
    padding: 0;
}
footer {
    width: 1440px;
    height: 80px;
}
    .menuFooter {
        display: flex;
        justify-content: center;
        height: 24px;
        gap: 90px;
        a, p {
            text-transform: uppercase;
            font-family: "SpaceMonoRegular";
            font-size: 16px;
            font-weight: 400;        
        }
    }

