@import "variables.scss";
@import "fonts.scss";

// HEADER //

body {
    margin: 0;
    padding: 0;
}
header {
    width: 1440px;
    height: 80px;
}
    .menuHeader {
        display: flex;
        justify-content: flex-end;
        gap: 50px;
        img {
            width: 216px;
            height: 14px;
            margin-top: 31px;
            margin-left: 146px;
        }
    }
    .menuLogo {
        width: 50%;
    }
    .menuNav {
        width: 50%;
        margin-top: 31px;
        margin-right: 146px;
        a {
            font-family: "SpaceMonoRegular";
            font-size: 16px;
            font-weight: 400;
            a:hover {
                font-weight: 100;
            }
        }
    }
// @MEDIA //
@media (max-width: $SD) {
header {
    width: 375px;
    height: 72px;
}
    .menuHeader {
        img {
            width: 138px;
            height: 9px;
            margin-top: 32px;
            margin-left: 40px;
        }
    }    
    .menuLogo {
        width: 50%;
    }
    .menuNav {
        width: 50%;
        margin-top: 32px;
        margin-right: 40px;
        a {
            font-family: "SpaceMonoRegular";
            font-size: 16px !important;
            font-weight: 400;
            a:hover {
                font-weight: 100;
            }
        }
    }
                .active {
                    .line:nth-child(2) {
                        opacity: 0;
                    }
                    .line:nth-child(1) {
                        transform: translateY(8px) rotate(45deg);
                    }
                    .line:nth-child(3) {
                        transform: translateY(-8px) rotate(-45deg);
                    }
                }
}