// Variables, Fonts... //
@import "variables";
@import "fonts";

// HERO //
.photoHero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 53vw;
    margin-bottom: 90px;
    
        img {
            position:absolute;
            background-size: cover;
            background-position: center;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
}
            @media (max-width: $VSD) {
                .photoHero img {
                    height: 72vw;
                }
            }
h1 {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.3vw white;
    font-family: "SpaceMonoItalic";
    font-size: 6vw;
    font-weight: 700;
    line-height: 14vw;
}
    @media (max-width: $VSD) {
        h1 {
            font-size: 7vw;
        }
    }