// Variables, Fonts... //
@import "variables";
@import "fonts";

// MODAL //
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
.modalOverlay {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.modalOverlay.visible {
    display: flex;
}
.contactModal {
    background: #fff;
    width: 40vw;
    height: 48vw;
    position: relative;
    top: 2%;
    border-radius: 2px;
    padding: 8px 0;
    border: 3px solid black;
}
    @media (max-width: $VSD) {
        .contactModal {
            width: 80%;
            height: 85%;
        }
    }

.hidden {
    display: none;
}

.titleModal1 {
    background-image: url('../img/Contact.png');
    background-size: contain;
    height: 7.1vw;
    overflow: hidden;
        
        @media (max-width: $VSD) {
                height: 14vw;
        }
}

.labelModal {
    display: flex;
    justify-content: center;
    padding: 2.2vw 17vw;
    font-size: 0.9vw;
        
        @media (max-width: $VSD) {
                font-size: 3vw;
        }
}
.wpcf7-text, .wpcf7-textarea {
    width: 17vw;
    border-radius: 0.5vw;
    margin-top: 0.3vw;
    border: 1px solid black;
        
        @media (max-width: $VSD) {
                width: 70vw;  
                border-radius: 2.5vw; 
        }
}
.wpcf7-text {
    height: 2.7vw;
    margin-bottom: 1vw;
        
        @media (max-width: $VSD) {
            height: 7vw;
            width: 55vw;
        }
}
.wpcf7-textarea {
    height: 12.5vw;
    margin-bottom: 0.3vw;
    
        @media (max-width: $VSD) {
        height: 30vw;
        width: 55vw;
        }
}
.wpcf7-submit {
    width: 17vw;
    height: 3vw;
    border-radius: 0.5vw;
    border: none;
    background-color: #D8D8D8;
    margin-bottom: 3vw;
    
        @media (max-width: $VSD) {
            width: 55vw;
            height: 10vw;
            border-radius: 2.5vw;
        }
}
