// VARIABLES //
$VSD: 480px; // Very Small Devices "phone"
$SD: 768px; // Small Devices "tablets"
$MD: 1024px; // Medium Devices "laptop"
$LD: 1280px; // Large Devices "desktop"
$XLD: 1500px; // Extra Large Devices
$XXLD: 1950px; // Double Extra Large Devices