@font-face {
  font-family: "SpaceMonoRegular";
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBold";
  src: url("../fonts/SpaceMono/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBoldItalic";
  src: url("../fonts/SpaceMono/SpaceMono-BoldItalic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoItalic";
  src: url("../fonts/Space_Mono/SpaceMono-Italic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsItalic";
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.filter {
  display: flex;
  justify-content: space-between;
  margin: 0 10vw 2.5vw 10vw;
}

select {
  width: 18.5vw;
  height: 3vw;
  border-radius: 0.4vw;
}
select .hide-placeholder option:first-child {
  display: none;
}

.filter select {
  padding: 0 1vw 0 1vw;
  font-family: "PoppinsMedium";
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1vw;
}

#categorieFilter, #formatFilter {
  margin-right: 2vw;
}

#sortFilter {
  margin-left: auto;
  margin-right: 0.5vw;
}

#photoFilter {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 10vw 2vw 10vw;
  gap: 1vw;
}

@font-face {
  font-family: "SpaceMonoRegular";
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBold";
  src: url("../fonts/SpaceMono/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBoldItalic";
  src: url("../fonts/SpaceMono/SpaceMono-BoldItalic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoItalic";
  src: url("../fonts/Space_Mono/SpaceMono-Italic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsItalic";
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoRegular";
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBold";
  src: url("../fonts/SpaceMono/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBoldItalic";
  src: url("../fonts/SpaceMono/SpaceMono-BoldItalic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoItalic";
  src: url("../fonts/Space_Mono/SpaceMono-Italic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsItalic";
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding-top: 0;
}

footer {
  max-width: 100%;
  border-top: 1px solid black;
  box-shadow: 0 -2px rgba(0, 0, 0, 0.3);
}

.menuFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  gap: 7.5vw;
}
.menuFooter a, .menuFooter p {
  text-transform: uppercase;
  font-family: "SpaceMonoRegular";
  font-size: 1.1vw;
  font-weight: 400;
}

@media (max-width: 480px) {
  .menuFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vw;
  }
  .menuFooter a, .menuFooter p {
    font-size: 4vw;
  }
  .menuFooter p {
    margin-bottom: 13vw;
  }
  .menuFooter a {
    gap: 6vw;
  }
  #menu .menuFooter {
    border: none;
  }
}
@font-face {
  font-family: "SpaceMonoRegular";
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBold";
  src: url("../fonts/SpaceMono/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBoldItalic";
  src: url("../fonts/SpaceMono/SpaceMono-BoldItalic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoItalic";
  src: url("../fonts/Space_Mono/SpaceMono-Italic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsItalic";
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 14px 10px rgba(0, 0, 0, 0.03);
  z-index: 1000;
}

.menuHeader {
  width: 100%;
  height: 9vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}

.menuLogo img {
  width: 13vw;
  height: auto;
  margin-left: 10vw;
}

.menuBlock {
  display: none;
}

.menuNav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-right: 10vw;
}
.menuNav a {
  font-family: "SpaceMonoRegular";
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.menuNav a a:hover {
  font-weight: 700;
}

@media (max-width: 480px) {
  .menuHeader {
    width: 100%;
    height: 18vh;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .menuLogo img {
    width: 35vw;
    display: flex;
    align-items: center;
    margin-left: -38vw;
    margin-top: 6vw;
  }
  .menuBlock {
    width: 30px;
    height: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    top: 4vw;
    right: 10vw;
  }
  .menuBlock .line {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  .menuBlock.active .line:nth-child(2) {
    opacity: 0;
  }
  .menuBlock.active .line:nth-child(1) {
    transform: translateY(9px) rotate(50deg);
  }
  .menuBlock.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(-50deg);
  }
  .menuNav {
    width: 100%;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    top: 49px;
    left: 0;
    padding: 35vw 0 70vw 0;
    background-color: #E00000;
    z-index: 999;
    animation: fadeInRight 0.6s forwards ease;
  }
  .menuNav.active {
    display: flex;
  }
  .menuNav a {
    width: 100%;
    display: block !important;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0;
    font-size: 8vw;
    color: white !important;
    margin: 0;
  }
}
@keyframes fadeInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@font-face {
  font-family: "SpaceMonoRegular";
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBold";
  src: url("../fonts/SpaceMono/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBoldItalic";
  src: url("../fonts/SpaceMono/SpaceMono-BoldItalic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoItalic";
  src: url("../fonts/Space_Mono/SpaceMono-Italic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsItalic";
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.photoHero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 53vw;
  margin-bottom: 90px;
}
.photoHero img {
  position: absolute;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 480px) {
  .photoHero img {
    height: 72vw;
  }
}
h1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.3vw white;
  font-family: "SpaceMonoItalic";
  font-size: 6vw;
  font-weight: 700;
  line-height: 14vw;
}

@media (max-width: 480px) {
  h1 {
    font-size: 7vw;
  }
}
@font-face {
  font-family: "SpaceMonoRegular";
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBold";
  src: url("../fonts/SpaceMono/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBoldItalic";
  src: url("../fonts/SpaceMono/SpaceMono-BoldItalic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoItalic";
  src: url("../fonts/Space_Mono/SpaceMono-Italic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsItalic";
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.contLightbox {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.categorieLightbox, .referenceLightbox {
  position: absolute;
  font-family: "PoppinsRegular";
  font-weight: 500;
  z-index: 1;
  color: red;
  top: 40vw;
}

.referenceLightbox {
  left: 21.5vw;
}

.categorieLightbox {
  right: 21.5vw;
}

.closeLightbox {
  position: fixed;
  top: 3vw;
  right: 10.5vw;
  cursor: pointer;
}

.previousLightbox, .nextLightbox {
  position: fixed;
  top: 23vw;
  cursor: pointer;
}
.previousLightbox:hover, .nextLightbox:hover {
  font-weight: 900;
}

.previousLightbox {
  left: 10.5vw;
}

.nextLightbox {
  right: 10.5vw;
}

.blockImgLightbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: contain;
}

.imgLightbox {
  max-width: 100%;
  max-height: 80%;
}

@font-face {
  font-family: "SpaceMonoRegular";
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBold";
  src: url("../fonts/SpaceMono/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBoldItalic";
  src: url("../fonts/SpaceMono/SpaceMono-BoldItalic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoItalic";
  src: url("../fonts/Space_Mono/SpaceMono-Italic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsItalic";
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
#load-more {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
  margin-top: 3vw;
  margin-left: 9.7vw;
  clear: both;
  width: 80vw;
}

#btn-more {
  width: 18vw;
  height: 3.5vw;
  font-size: 1.5vw;
  margin-bottom: 6vw;
  background: #d8d8d8;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

#btn-more:hover {
  background-color: black;
  color: white;
}

@media (max-width: 480px) {
  #btn-more {
    width: 78vw;
    height: 15vw;
    font-size: 5vw;
    margin-bottom: 6vw;
  }
}
@font-face {
  font-family: "SpaceMonoRegular";
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBold";
  src: url("../fonts/SpaceMono/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBoldItalic";
  src: url("../fonts/SpaceMono/SpaceMono-BoldItalic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoItalic";
  src: url("../fonts/Space_Mono/SpaceMono-Italic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsItalic";
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  margin-top: 0;
}

body {
  font-family: "SpaceMonoRegular", sans-serif;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a, a:visited {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
}

a:hover {
  color: black;
  font-weight: bold;
}

.wp-block-group__inner-container {
  padding: 2vw 1vw;
  margin: 0 11vw;
}

.wp-block-group, .viePrive {
  line-height: 2.5;
}
.wp-block-group h3, .viePrive h3 {
  font-family: "SpaceMonoRegular";
  font-size: 30px;
  font-weight: bold;
}
.wp-block-group p, .viePrive p {
  font-family: "SpaceMonoRegular";
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 480px) {
  .wp-block-group h3, .viePrive h3 {
    font-size: 4vw;
  }
  .wp-block-group p, .viePrive p {
    font-size: 3vw;
  }
}
@font-face {
  font-family: "SpaceMonoRegular";
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBold";
  src: url("../fonts/SpaceMono/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBoldItalic";
  src: url("../fonts/SpaceMono/SpaceMono-BoldItalic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoItalic";
  src: url("../fonts/Space_Mono/SpaceMono-Italic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsItalic";
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.modalOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modalOverlay.visible {
  display: flex;
}

.contactModal {
  background: #fff;
  width: 40vw;
  height: 48vw;
  position: relative;
  top: 2%;
  border-radius: 2px;
  padding: 8px 0;
  border: 3px solid black;
}

@media (max-width: 480px) {
  .contactModal {
    width: 80%;
    height: 80%;
  }
}
.hidden {
  display: none;
}

.titleModal1 {
  background-image: url("../img/Contact.png");
  background-size: contain;
  height: 7.1vw;
  overflow: hidden;
}

@media (max-width: 480px) {
  .titleModal1 {
    height: 14vw;
  }
}
.labelModal {
  display: flex;
  justify-content: center;
  padding: 2.2vw 17vw;
  font-size: 0.9vw;
}

@media (max-width: 480px) {
  .labelModal {
    font-size: 3vw;
  }
}
.wpcf7-text, .wpcf7-textarea {
  width: 17vw;
  border-radius: 0.5vw;
  margin-top: 0.3vw;
  border: 1px solid black;
}

@media (max-width: 480px) {
  .wpcf7-text, .wpcf7-textarea {
    width: 70vw;
    border-radius: 2.5vw;
  }
}
.wpcf7-text {
  height: 2.7vw;
  margin-bottom: 1vw;
}

@media (max-width: 480px) {
  .wpcf7-text {
    height: 10vw;
  }
}
.wpcf7-textarea {
  height: 12.5vw;
  margin-bottom: 0.3vw;
}

@media (max-width: 480px) {
  .wpcf7-textarea {
    height: 40vw;
  }
}
.wpcf7-submit {
  width: 17vw;
  height: 3vw;
  border-radius: 0.5vw;
  border: none;
  background-color: #D8D8D8;
  margin-bottom: 3vw;
}

@media (max-width: 480px) {
  .wpcf7-submit {
    width: 70vw;
    height: 17vw;
    border-radius: 2.5vw;
  }
}
@font-face {
  font-family: "SpaceMonoRegular";
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBold";
  src: url("../fonts/SpaceMono/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBoldItalic";
  src: url("../fonts/SpaceMono/SpaceMono-BoldItalic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoItalic";
  src: url("../fonts/Space_Mono/SpaceMono-Italic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsItalic";
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.initialBlock {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 10vw;
  gap: 1vw;
}

.photo_block {
  position: relative;
  width: 39vw;
  height: 35vw;
}
.photo_block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 480px) {
  .initialBlock {
    display: flex;
    flex-direction: column;
  }
  .photo_block {
    width: 78vw;
    height: 70vw;
    padding: 1.5vw;
  }
}
.overlay:hover .icon_eye,
.overlay:hover .icon_fullscreen {
  display: block;
}

.overlay {
  position: absolute;
  top: 0vw;
  left: 0vh;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity 0.3s, background-color 0.3s;
}
.overlay:hover {
  background-color: none;
  opacity: 1;
}

.icon_eye, .icon_fullscreen, .title_overlay, .categorie_overlay {
  position: absolute;
  display: none;
}

.photo_block:hover .icon_eye,
.photo_block:hover .icon_fullscreen,
.photo_block:hover .title_overlay,
.photo_block:hover .categorie_overlay {
  display: block; /* Hover Display */
}

.icon_eye {
  top: 47%;
  left: 45%;
}

.icon_fullscreen {
  top: 1vw;
  right: 1vw;
  width: 2vw;
  height: 2vw;
  cursor: pointer;
}

.title_overlay, .categorie_overlay {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1vw;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}

.title_overlay {
  left: 1vw;
  bottom: 1vw;
}

.categorie_overlay {
  bottom: 1vw;
  right: 1vw;
}

@font-face {
  font-family: "SpaceMonoRegular";
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBold";
  src: url("../fonts/SpaceMono/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoBoldItalic";
  src: url("../fonts/SpaceMono/SpaceMono-BoldItalic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SpaceMonoItalic";
  src: url("../fonts/Space_Mono/SpaceMono-Italic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsItalic";
  src: url("../fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.containerPhoto {
  margin: 3vw 10vw;
}

.infoPhoto {
  display: flex;
  flex-direction: row-reverse;
  gap: 2vw;
}

.contentPhoto {
  width: 50vw;
}
.contentPhoto img {
  width: 100%;
  height: 57.5vw;
}

.detailPhoto {
  width: 50vw;
  height: 21.9vw;
  margin-top: auto;
  padding-bottom: 10vw;
  border-bottom: 1px solid black;
}
.detailPhoto h2 {
  font-family: "SpaceMonoItalic";
  font-weight: 400;
  font-size: 5.5vw;
  line-height: 5vw;
  text-transform: uppercase;
  margin-bottom: 2vw;
}
.detailPhoto p {
  font-family: "SpaceMonoRegular";
  font-weight: 400;
  font-size: 1.5vw;
  text-transform: uppercase;
}

.taxoPhoto {
  line-height: 3vw;
  margin-bottom: 2vw;
}

@media (max-width: 480px) {
  .containerPhoto {
    margin: 0 -10vw;
  }
  .contentPhoto img {
    width: 78vw;
    height: 120vw;
    margin-top: 3vw;
  }
  .infoPhoto {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
  }
  .detailPhoto {
    padding: 2vw 11vw 110vw 0;
    width: 100%;
  }
  .detailPhoto h2 {
    display: flex;
    flex-direction: column;
    font-size: 14vw;
    line-height: 14vw;
  }
  .detailPhoto p {
    font-size: 5vw;
  }
  .taxoPhoto {
    line-height: 10vw;
  }
}
.blocContact {
  display: flex;
  flex-direction: row;
  margin: 0 10vw;
  border-bottom: 1px solid black;
  gap: 34.5vw;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 7.1vw;
}

.pContact {
  padding: 1vw 0;
  font-family: "PoppinsRegular";
  font-weight: 300;
  font-size: 1vw;
  line-height: 1vw;
}

#contact-modal {
  width: 17.5vw;
  height: 3.3vw;
  border: none;
  background: #d8d8d8;
  font-family: "SpaceMonoRegular";
  font-size: 1.3vw;
  font-weight: 400;
}

#contact-modal:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

@media (max-width: 480px) {
  .blocContact {
    width: 100%;
    margin: 0;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pContact {
    font-size: 3.5vw;
  }
  #contact-modal {
    width: 78vw;
    height: 15vw;
    font-size: 5vw;
    margin-bottom: 6vw;
  }
}
.miniPhoto {
  position: relative;
  display: flex;
}

#smallPhoto {
  position: absolute;
  width: 5.8vw;
  height: 5.8vw;
  margin: 15px 0;
  top: -3vw;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  transition: background-image 0.3s ease;
}

.arrow {
  margin-top: 2vw;
  margin-bottom: 0.5vw;
}

.arrow-left {
  margin-right: 1.5vw;
  cursor: pointer;
}

.arrow-right {
  cursor: pointer;
}

@media (max-width: 480px) {
  .miniPhoto {
    display: none;
  }
}
.blocSuggest {
  display: flex;
  flex-direction: column;
}

.titleSuggest h3 {
  width: 20vw;
  height: 27px;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 11vw;
  font-size: 1.5vw;
  text-transform: uppercase;
  font-family: "SpaceMonoRegular";
  font-weight: 400;
}

.idemPhoto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 8%;
  gap: 1.5vw;
}

@media (max-width: 480px) {
  .titleSuggest h3 {
    width: 100%;
    font-size: 6vw;
  }
  .idemPhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */